{% if site.twitter_user %}
<section class="well for-nav">
  <ul id="tweets" class="nav nav-list">
    <li class="nav-header">Latest Tweets</li>
    <li class="loading">Status updating...</li>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
      getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
    });
  </script>
  <script src="{{ root_url }}/javascripts/asides/twitter.js" type="text/javascript"> </script>
  <div class="nav-list">
    {% if site.twitter_follow_button %}
      <a href="http://twitter.com/{{ site.twitter_user }}" class="btn btn-primary"><i class="icon-twitter"></i> Follow @{{ site.twitter_user }}</a>
    {% else %}
      <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
    {% endif %}
  </div>

</section>
{% endif %}
