<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn-navbar-plus hidden-desktop" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-plus"></i></a>

      <h1>
        <a class="brand" href="{{ root_url }}/">{{ site.title }}</a>
      </h1>
      <h2 class="sub-brand visible-desktop">{{ site.subtitle }}</h2>

      <div class="nav-collapse">
        {% include custom/navigation.html %}
        {% if site.simple_search %}
          <form class="pull-right navbar-search" action="{{ site.simple_search }}" method="get">
            <fieldset role="search">
              <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
              <input class="search-query" type="text" name="q" results="0" placeholder="Search"/>
            </fieldset>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
